server:
  port: 9093
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
spring:
  application:
    name: USER-SERVICE
  datasource:
    url: jdbc:mysql://localhost:3307/userdb
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: asdf1234$
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
