<div class="flex flex-col sm:flex-row justify-between items-center mt-10 gap-4">

    <select class="border rounded-lg px-3 py-2 text-sm" (change)="onPageSizeChange($event)">

        @for (sizePage of PAGE_SIZES; track sizePage) {
        <option [value]="sizePage">{{ sizePage }} per page</option>
        }

    </select>

    <div class="flex items-center gap-3">

        <button class="px-4 py-2 border rounded-lg hover:bg-gray-100 disabled:opacity-40" (click)="previous()">
            Prev
        </button>

        <span class="text-sm font-medium">
            {{ page + 1 }} / {{ totalPages || 1 }}
        </span>

        <button class="px-4 py-2 border rounded-lg hover:bg-gray-100 disabled:opacity-40" (click)="next()">
            Next
        </button>

    </div>

</div>